<!DOCTYPE html>
<html lang="en">
  <%- include('parts/head.ejs', {title: "Home"}) -%>
  <body>
    <%- include('parts/navbar') %>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
          <!-- todo adding form -->
          <div class="pt-3">
            <form method="POST">
              <div class="row align-items-center">
                <div class="input-group input-group-lg col-10">
                  <input
                    type="text"
                    name="todo"
                    class="form-control"
                    required
                    placeholder="Type here..."
                    onchange="this.value = this.value.trim()"
                  />
                </div>
                <div class="col-2 p-0">
                  <button
                    type="submit"
                    class="btn btn-primary p-0 rounded-circle px-1"
                    title="Add"
                  >
                    <span class="material-icons mt-1" style="font-size: 2.5em">
                      add
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <!-- all todo list -->
          <div class="container-fluid my-5">
            <% if(todos.length > 0){ %>
            <div>
              <% for(let todo of todos){ %>
              <div
                class="row shadow-lg py-3 mb-3 bg-white rounded align-items-center"
              >
                <div class="col-7">
                  <p class="m-0"><%- todo.title %></p>
                </div>
                <div class="col-5 text-center">
                  <a
                    href="/todo/delete/<%- todo._id %>"
                    class="btn btn-light btn-sm"
                    title="Delete"
                  >
                    <span class="material-icons pt-1" style="color: red">
                      delete
                    </span>
                  </a>
                  <a
                    href="/todo/update/<%- todo._id %>"
                    class="btn btn-light btn-sm"
                    title="Edit"
                  >
                    <span class="material-icons pt-1" style="color: green">
                      create
                    </span>
                  </a>
                </div>
              </div>
              <% } %>
            </div>
            <% }else{ %>
            <p class="text-center">Nothing Todo</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <%- include('parts/vendor_scripts') -%>
  </body>
</html>
