extends parts/layout


block content
    h2 Home
    div.container
        div.todo
            h2 Title : #{data.title}
            p ID : #{data._id}
            p Created At : #{data.createdAt}
            p Updated At : #{data.updatedAt}
            p 
                button.btn.btn-primary Edit
    a(href="/") Back
    script(type="text/javascript").
        let data = {
            _id : "#{data._id}",
            title : "#{data.title}",
            createdAt: "#{data.createdAt}",
            updatedAt: "#{data.updatedAt}"
        }
